<div class="container mt-5">
  <h4 class="mt-5">Veículos Cadastrados</h4>



  <div class="d-flex justify-content-between">
    <div>
      <button type="button" class="btn btn-primary mt-4"  (click)="openModalAdd(template)"><i class="fa fa-plus"></i>
        Adicionar</button>
    </div>

    <form class="form-inline mt-4">
      <div class="form-group mx-sm-3 mb-2">
        <input type="text" [(ngModel)]="filtroGrid" [ngModelOptions]="{standalone: true}" class="form-control"
          placeholder="Pesquisar por chassi">
      </div>
      <button type="button" class="btn btn-primary mb-2" (click)="filtrarGrid(filtroGrid)"><i
          class="fa fa-search"></i></button>
    </form>
  </div>



  <table class="table table-striped mt-2 mb-5">
    <thead>
      <tr class="text-center">
        <th scope="col">Chassi</th>
        <th scope="col">Tipo Veículo</th>
        <th scope="col">N° Passageiros</th>
        <th scope="col">Cor</th>
        <th scope="col"></th>

      </tr>
    </thead>
    <tbody class="text-center">
      <tr *ngFor="let veiculo of listaVeiculos">
        <td class="align-middle">{{veiculo.chassi}}</td>
        <td class="align-middle">{{veiculo.tipo}}</td>
        <td class="align-middle">{{veiculo.numeroPassageiros}}</td>
        <td class="align-middle">{{veiculo.cor}}</td>
        <td class="text-right"><small type="button" class="btn btn-primary mr-2 text-light"
            (click)="openModalAdd(template, veiculo, 'atualizar')" data-toggle="tooltip" data-placement="top" title="Editar veículo"><i class="fa fa-pencil"></i> </small>
          <small type="button" class="btn btn-danger mr-2"
            (click)="openModalDeletarVeiculo(templateDetelarVeiculo, veiculo)" data-toggle="tooltip" data-placement="top" title="Deletar veículo"><i class="fa fa-trash"></i>
            </small>
        </td>

      </tr>
    </tbody>
  </table>
  <div *ngIf="filtroNaoEncotrado" class="mt-2">
    <h3 class="text-center text-secondary">Nenhum veículo encontrado!</h3>
  </div>
  <h3 class="text-center text-secondary">{{alertaListaCadastro}}</h3>


  <ng-template #template>
    <div class="modal-header">
      <h5 class="modal-title pull-left">{{titudoModalCadastrarEditar}}</h5>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="text-center" *ngIf="alertaCAmposEditar"><small class="text-danger "><b>"*Só é permitido editar a cor do veículo!"</b></small></div>
      
      <form [formGroup]="formularioDeVeiculo">
        <div class="form-group">
          <small>Chassi</small>
          <input type="text" formControlName="chassi" class="form-control" aria-describedby="emailHelp"
            placeholder="Digite o número do chassi" [attr.disabled]="habilitarCampo">

        </div>
        <div class="form-group">
          <small>Tipo</small>
          <select class="form-control" formControlName="tipo" [attr.disabled]="habilitarCampo" (change)="numeroPassageiros()">
            <option value="Selecionar tipo" [selected] = "true" [disabled]="true" *ngIf="mostrarSelecionar">Selecionar tipo</option>
            <option value="Ônibus">Ônibus</option>
            <option value="Caminhão">Caminhão</option>
          </select>
        </div>
        <div class="form-group">
          <small>N° Passageiros</small>
          <input type="text" formControlName="numeroPassageiros" class="form-control"
            placeholder="Número de passageiros" [attr.disabled]="true">
        </div>
        <div class="form-group">
          <small>Cor</small>
          <input type="text" formControlName="cor" class="form-control" placeholder="Cor do Veículo">
        </div>
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-primary" [disabled]="!formularioDeVeiculo.valid"
            (click)="cadastrarVeiculo()">Salvar</button>
        </div>
      </form>
    </div>
  </ng-template>


  <ng-template #templateDetelarVeiculo>
    <div class="modal-header">
      <h5 class="modal-title pull-left">Deletar Veículo</h5>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Tem certeza que deseja deletar o cadastro do veículo de chassi <b>{{editarVeiculo.chassi}}</b> ?</p>

      <div class="text-right">
        <small type="button" class="btn btn-primary mr-2 text-light" (click)="deletarVeiculo(editarVeiculo.id)"><i
            class="fa fa-thumbs-up"></i> Sim</small>
        <small type="button" class="btn btn-danger mr-2" (click)="modalRef?.hide()"><i class="fa fa-thumbs-down"></i>
          Não</small>
      </div>

    </div>
  </ng-template>
</div>